In [1]:
import pandas as pd
import numpy as np
import re
from string import punctuation

In [2]:
df=pd.read_csv("../data/raw/movies_meta.csv")

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
3,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,1995-10-27,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
4,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0

In [4]:
df.shape

(4690, 24)

In [37]:
df.title.to_csv('../models/Titles.csv',index=False, header=False)

In [5]:
df_sub=pd.read_csv("../data/raw/movies_subtitles.csv")

In [6]:
df_sub.shape

(10358496, 4)

In [7]:
df_sub.head()

,start_time,end_time,text,imdb_id
0,58.559,61.602,"BOY: All right, everyone!\nThis... is a stick-up!",tt0114709
1,61.687,63.354,Don't anybody move!,tt0114709
2,64.398,66.482,"Now, empty that safe!",tt0114709
3,68.318,71.612,"Ooh-hoo-hoo!\nMoney, money, money! (KISSING)",tt0114709
4,71.697,74.031,"Stop it! Stop it,\nyou mean, old potato!",tt0114709

In [8]:
df_sub.groupby(['imdb_id']).count()

           start_time  end_time  text
imdb_id
tt0002130        1049      1049  1049
tt0005044        1338      1338  1338
tt0005059        3471      3471  3471
tt0005060        1457      1457  1457
tt0007338        2834      2834  2772
...               ...       ...   ...
tt6176078        3771      3771  3771
tt6210808        2476      2476  2476
tt6212346        1515      1515  1515
tt6582384         246       246   246
tt6739646        3372      3372  3372

[4666 rows x 3 columns]

In [14]:
df['title'][199]

'Return of the Jedi'

In [38]:
imdb=df.loc[df['title'] == "Harry Potter and the Philosopher's Stone"]['imdb_id']
imdb

747    tt0241527
Name: imdb_id, dtype: object

In [12]:
imdb[0]

'tt0114709'

In [41]:
df_t=df_sub.loc[df_sub['imdb_id']==imdb[747]]

In [42]:
df_t

,start_time,end_time,text,imdb_id
2639074,81.700,87.000,"I should've known that you would\nbe here, Pro...",tt0241527
2639075,97.900,101.400,"Good evening, Professor Dumbledore.",tt0241527
2639076,103.599,106.899,"Are the rumors true, Albus?",tt0241527
2639077,106.900,112.299,"I'm afraid so, professor.\nThe good and the bad.",tt0241527
2639078,112.299,115.799,- And the boy?\n- Hagrid is bringing him.,tt0241527
...,...,...,...,...
3259946,8976.299,8980.899,"I do. But your cousin don't, do he?",tt0241527
3259947,8986.100,8989.498,"Feels strange to be going home,\ndoesn't it?",tt0241527
3259948,8989.500,8991.699,I'm not going home.,tt0241527
3259949,8991.700,8994.000,Not really.,tt0241527
3259950,9034.881,9040.879,"Subtitles by Your Friend, awaqeded.",tt0241527

In [18]:
import nltk
import nltk.data
from string import punctuation 
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import stopwords

In [19]:
def text_cleaning(text):
   
    text = re.sub(r"[^A-Za-z]", " ", text)
    
    
    # Remove punctuation from text
    text = "".join([c for c in text if c not in punctuation])
    stopwords = nltk.corpus.stopwords.words('english')
    text = text.split()
    text = [w for w in text if not w in stopwords]
    text = " ".join(text)
        
    text = text.split()
    lemmatizer = WordNetLemmatizer()
    lemmatized_words = [lemmatizer.lemmatize(word) for word in text]
    text = " ".join(lemmatized_words)
    text=text.lower()
    
    return text

In [43]:
df_t['cleaned_text'] = df_t['text'].apply(lambda x: text_cleaning(x))

/var/folders/th/qgn0zvb111n4qgsdq1z81tj00000gn/T/ipykernel_62232/696979002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t['cleaned_text'] = df_t['text'].apply(lambda x: text_cleaning(x))

In [44]:
df_t

,start_time,end_time,text,imdb_id,cleaned_text
2639074,81.700,87.000,"I should've known that you would\nbe here, Pro...",tt0241527,i known would professor mcgonagall
2639075,97.900,101.400,"Good evening, Professor Dumbledore.",tt0241527,good evening professor dumbledore
2639076,103.599,106.899,"Are the rumors true, Albus?",tt0241527,are rumor true albus
2639077,106.900,112.299,"I'm afraid so, professor.\nThe good and the bad.",tt0241527,i afraid professor the good bad
2639078,112.299,115.799,- And the boy?\n- Hagrid is bringing him.,tt0241527,and boy hagrid bringing
...,...,...,...,...,...
3259946,8976.299,8980.899,"I do. But your cousin don't, do he?",tt0241527,i but cousin
3259947,8986.100,8989.498,"Feels strange to be going home,\ndoesn't it?",tt0241527,feels strange going home
3259948,8989.500,8991.699,I'm not going home.,tt0241527,i going home
3259949,8991.700,8994.000,Not really.,tt0241527,not really
3259950,9034.881,9040.879,"Subtitles by Your Friend, awaqeded.",tt0241527,subtitles your friend awaqeded

In [55]:
df_t['cleaned_text'].to_csv("../data/processed/cleaned_text.csv", index=False, header=False)

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time
import pickle
import itertools
import os
import csv

In [23]:
#importing libraries for models and nlp tasks
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV

In [24]:
tfidf_vectorizer=pickle.load(open('../models/tfidf_vect.pkl','rb'))

In [45]:
test_tfidf = tfidf_vectorizer.transform(df_t['cleaned_text'])

In [46]:
test_model_lr=pickle.load(open('../models/lr_mn.pkl','rb'))

/Users/phanisingaraju/opt/anaconda3/envs/emotionanalysis_env/lib/python3.10/site-packages/sklearn/base.py:288: UserWarning: Trying to unpickle estimator LogisticRegression from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [47]:
ytest_pred=test_model_lr.predict(test_tfidf)
ytest_pred

array([1, 1, 1, ..., 4, 1, 1])

In [48]:
df_t['Predicted_label']=ytest_pred

/var/folders/th/qgn0zvb111n4qgsdq1z81tj00000gn/T/ipykernel_62232/1800287366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t['Predicted_label']=ytest_pred

In [49]:
df_t

,start_time,end_time,text,imdb_id,cleaned_text,Predicted_label
2639074,81.700,87.000,"I should've known that you would\nbe here, Pro...",tt0241527,i known would professor mcgonagall,1
2639075,97.900,101.400,"Good evening, Professor Dumbledore.",tt0241527,good evening professor dumbledore,1
2639076,103.599,106.899,"Are the rumors true, Albus?",tt0241527,are rumor true albus,1
2639077,106.900,112.299,"I'm afraid so, professor.\nThe good and the bad.",tt0241527,i afraid professor the good bad,4
2639078,112.299,115.799,- And the boy?\n- Hagrid is bringing him.,tt0241527,and boy hagrid bringing,1
...,...,...,...,...,...,...
3259946,8976.299,8980.899,"I do. But your cousin don't, do he?",tt0241527,i but cousin,0
3259947,8986.100,8989.498,"Feels strange to be going home,\ndoesn't it?",tt0241527,feels strange going home,5
3259948,8989.500,8991.699,I'm not going home.,tt0241527,i going home,4
3259949,8991.700,8994.000,Not really.,tt0241527,not really,1
3259950,9034.881,9040.879,"Subtitles by Your Friend, awaqeded.",tt0241527,subtitles your friend awaqeded,1

In [30]:
df_t['Predicted_label']

461123    1
461124    1
461125    1
461126    0
461127    1
         ..
929989    1
929990    1
929991    1
929992    3
929993    1
Name: Predicted_label, Length: 2400, dtype: int64

In [31]:
emotion = pd.read_csv('../models/emotions.csv')

In [32]:
dic_emotions=emotion.to_dict('series')

In [33]:
dic_emotions['Emotion']

0     sadness
1         joy
2        love
3       anger
4        fear
5    surprise
Name: Emotion, dtype: object

In [50]:
df_t['Predicted_emotion'] = df_t['Predicted_label'].map(dic_emotions['Emotion'])

/var/folders/th/qgn0zvb111n4qgsdq1z81tj00000gn/T/ipykernel_62232/3838699278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t['Predicted_emotion'] = df_t['Predicted_label'].map(dic_emotions['Emotion'])

In [33]:
df_t # Toy story

,start_time,end_time,text,imdb_id,cleaned_text,Predicted_label,Predicted_emotion
0,58.559,61.602,"BOY: All right, everyone!\nThis... is a stick-up!",tt0114709,boy all right everyone this stick,1,joy
1,61.687,63.354,Don't anybody move!,tt0114709,don anybody move,1,joy
2,64.398,66.482,"Now, empty that safe!",tt0114709,now empty safe,1,joy
3,68.318,71.612,"Ooh-hoo-hoo!\nMoney, money, money! (KISSING)",tt0114709,ooh hoo hoo money money money kissing,1,joy
4,71.697,74.031,"Stop it! Stop it,\nyou mean, old potato!",tt0114709,stop stop mean old potato,0,sadness
...,...,...,...,...,...,...,...
680741,4722.509,4725.595,â™ª Our friendship will never die,tt0114709,our friendship never die,0,sadness
680742,4727.139,4731.935,â™ª You're gonna see it's our destiny,tt0114709,you gonna see destiny,1,joy
680743,4732.019,4735.980,â™ª You've got a friend in me,tt0114709,you got friend,1,joy
680744,4736.065,4738.650,â™ª You've got a friend in me,tt0114709,you got friend,1,joy
680745,4740.319,4840.877,â™ª You've got a friend in me â™ª,tt0114709,you got friend,1,joy

In [34]:
df_t.groupby(['Predicted_emotion']).count() # 83% of data is joy

,start_time,end_time,text,imdb_id,cleaned_text,Predicted_label
Predicted_emotion,,,,,,
anger,135,135,135,135,135,135
fear,45,45,45,45,45,45
joy,3486,3486,3486,3486,3486,3486
love,9,9,9,9,9,9
sadness,444,444,444,444,444,444
surprise,39,39,39,39,39,39

In [35]:
df_t # For Return of the Jedi

,start_time,end_time,text,imdb_id,cleaned_text,Predicted_label,Predicted_emotion
461123,148.899,152.360,"Command station, this is ST-321.\nCode clearan...",tt0086190,command station st code clearance blue,1,joy
461124,152.444,155.362,We're starting our approach.\nDeactivate the s...,tt0086190,we starting approach deactivate security shield,1,joy
461125,155.489,160.784,The security deflector shield will be deactiva...,tt0086190,the security deflector shield deactivated conf...,1,joy
461126,160.868,161.953,Stand by.,tt0086190,stand,0,sadness
461127,163.372,165.288,You are clear to proceed.,tt0086190,you clear proceed,1,joy
...,...,...,...,...,...,...,...
929989,7438.347,7440.265,"When he comes back,",tt0086190,when come back,1,joy
929990,7440.350,7443.018,I won't get in the way.,tt0086190,i get way,1,joy
929991,7444.311,7447.689,It's not like that at all.,tt0086190,it like,1,joy
929992,7450.777,7452.694,He's my brother.,tt0086190,he brother,3,anger
929993,7555.131,7557.381,Wesa free!,tt0086190,wesa free,1,joy

In [36]:
df_t.groupby(['Predicted_emotion']).count() #74.5% of data is joy

,start_time,end_time,text,imdb_id,cleaned_text,Predicted_label
Predicted_emotion,,,,,,
anger,216,216,216,216,216,216
fear,34,34,34,34,34,34
joy,1788,1788,1788,1788,1788,1788
love,8,8,8,8,8,8
sadness,346,346,346,346,346,346
surprise,8,8,8,8,8,8

In [51]:
df_t #Harry potter 1

,start_time,end_time,text,imdb_id,cleaned_text,Predicted_label,Predicted_emotion
2639074,81.700,87.000,"I should've known that you would\nbe here, Pro...",tt0241527,i known would professor mcgonagall,1,joy
2639075,97.900,101.400,"Good evening, Professor Dumbledore.",tt0241527,good evening professor dumbledore,1,joy
2639076,103.599,106.899,"Are the rumors true, Albus?",tt0241527,are rumor true albus,1,joy
2639077,106.900,112.299,"I'm afraid so, professor.\nThe good and the bad.",tt0241527,i afraid professor the good bad,4,fear
2639078,112.299,115.799,- And the boy?\n- Hagrid is bringing him.,tt0241527,and boy hagrid bringing,1,joy
...,...,...,...,...,...,...,...
3259946,8976.299,8980.899,"I do. But your cousin don't, do he?",tt0241527,i but cousin,0,sadness
3259947,8986.100,8989.498,"Feels strange to be going home,\ndoesn't it?",tt0241527,feels strange going home,5,surprise
3259948,8989.500,8991.699,I'm not going home.,tt0241527,i going home,4,fear
3259949,8991.700,8994.000,Not really.,tt0241527,not really,1,joy
3259950,9034.881,9040.879,"Subtitles by Your Friend, awaqeded.",tt0241527,subtitles your friend awaqeded,1,joy

In [52]:
df_t.groupby(['Predicted_emotion']).count() #70% of the data for joy

,start_time,end_time,text,imdb_id,cleaned_text,Predicted_label
Predicted_emotion,,,,,,
anger,264,264,264,264,264,264
fear,63,63,63,63,63,63
joy,2760,2760,2760,2760,2760,2760
love,15,15,15,15,15,15
sadness,780,780,780,780,780,780
surprise,33,33,33,33,33,33